
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  text-align: center;
  font-size: large;
}

body {
  height: 100%;
  background-image: url(../media/TogetherInTravel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background: rgba(122, 130, 136, 0.2)!important; 
}
.white {
  color:lightgray;
}

form {
 
  border-radius: 3px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}
.card{
  background-color: rgba(17,17,17,0.6)!important;
  border: 1px solid rgba(17,17,17,0.6);
}
.btn-secondary{
  color: white!important;
  background-color:  rgba(17,17,17,0.6)!important;
}
.btn-primary{
  color: white!important;
  background-color:  rgba(17,17,17,0.6)!important;
}
footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: darkslategrey;
  color: floralwhite;
  text-align: center;
  font-size: large;
}

@media screen and (min-width: 576px) {
  .jumbotron {
    padding: 8rem 2rem;
  }
}


@import "~bootstrap/scss/bootstrap";
// @import '~bootstrap-sass/scss/bootstrap';